<nz-layout class="h-screen">
  <nz-sider
    nzCollapsible
    [nzCollapsed]="isSidebarCollapsed_()"
    (nzCollapsedChange)="toggleSidebarCollapsed()"
    [nzTrigger]="null"
  >
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <a [routerLink]="['/categories']" [routerLinkActive]="'is-active'">
        <li nz-menu-item>
          <span nz-icon nzType="file"></span>
          <span>Quản lý danh mục</span>
        </li>
      </a>

      <a [routerLink]="['/blogs']" [routerLinkActive]="'is-active'">
        <li nz-menu-item>
          <span nz-icon nzType="file"></span>
          <span>Quản lý blogs</span>
        </li>
      </a>

      <!-- <a [routerLink]="['/categories']" [routerLinkActive]="'is-active'">
        <li nz-menu-item>
          <span nz-icon nzType="file"></span>
          <span>Quản lý blogs</span>
        </li>
      </a> -->
    </ul>
  </nz-sider>

  <nz-layout>
    <app-header></app-header>
    <nz-breadcrumb class="px-4">
      <nz-breadcrumb-item>User</nz-breadcrumb-item>
      <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-content class="overflow-auto">
      
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <div appFooter></div>
  </nz-layout>
</nz-layout>
