<nz-card nzTitle="Quản lý blog" [nzExtra]="extraRef">
  <nz-table #tableRef [nzData]="blogs_() ?? []">
    <thead>
      <tr>
        <th id="title">Tiêu đề</th>
        <th id="thumnail">Thumbnail</th>
        <th id="summary">Summary</th>
        <th id="createdBy">Người viết</th>
        <th id="updateTime">Thời gian cập nhật</th>
        <th id="action"></th>
      </tr>
    </thead>
    <tbody>
      @for (blog of tableRef.data; track $index) {
        <tr>
          <td>{{ blog.title }}</td>
          <td>{{ blog?.thumbnailFileId }}</td>
          <td>{{ blog.summary }}</td>
          <td>{{ blog.createdBy }}</td>
          <td>{{ blog.updateTime | date: "hh:mm:ss dd/MM/yyyy" }}</td>
          <td>
            <div class="flex gap-2">
              <!-- <app-blogs-update
                [updatedElm]="blog"
              ></app-blogs-update>

              <app-blogs-delete [delElm]="blog"></app-blogs-delete> -->
            </div>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraRef>
  <a [routerLink]="['create']">
    <button
      nz-button
      class="bg-success text-white rounded hover:bg-success-light hover:text-white hover:border-none"
    >
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </button>
  </a>
</ng-template>
