<nz-card nzTitle="Quản lý danh mục" [nzExtra]="extraRef">
  <nz-table #tableRef [nzData]="(categories$ | async) ?? []">
    <thead>
      <tr>
        <th id="name">Tên</th>
        <th id="description">Mô tả</th>
        <th id="order">Thứ tự</th>
        <th id="action"></th>
      </tr>
    </thead>
    <tbody>
      @for (category of tableRef.data; track $index) {
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category?.description }}</td>
          <td>{{ category.order }}</td>
          <td>
            <a>Delete</a>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraRef>
  <app-categories-create></app-categories-create>
</ng-template>
