<nz-card nzTitle="Cập nhật blog">
  @if (updatedElm$ | async) {
    <form nz-form [formGroup]="form" id="blogForm" (ngSubmit)="update()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">
          Tiêu đề
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Bắt buộc nhập!">
          <input
            nz-input
            formControlName="title"
            id="title"
            placeholder="Ex: Angular hoạt động như thế nào?"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="summary" nzRequired>
          Tóm tắt
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea
            rows="4"
            nz-input
            formControlName="summary"
            placeholder="Ex: Angular hoạt động như thế này"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="categoryIds" nzRequired>
          Danh mục
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select
            nzMode="multiple"
            nzPlaceHolder="Ex: Frontend"
            formControlName="categoryIds"
          >
            <nz-option
              *ngFor="let category of categories$ | async"
              [nzLabel]="category.name"
              [nzValue]="category.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="thumbnail" nzRequired>
          Thumbnail
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-upload
            [nzMultiple]="false"
            (nzChange)="handleChangeThumbnail($event)"
            [nzBeforeUpload]="validateThumbnail"
            [nzFileList]="form.controls['thumbnails'].value"
            class="flex items-center gap-4"
          >
            <button nz-button class="btn btn-info">
              <span nz-icon nzType="upload"></span>
              Tải ảnh
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzFor="content"
          nzRequired
          nzTooltipTitle="What do you want other to call you"
        >
          <span>Nội dung</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <ckeditor
            id="editor"
            [editor]="editor"
            formControlName="content"
          ></ckeditor>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button type="submit" form="blogForm" class="btn btn-primary">
            Lưu
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  }
</nz-card>
